body {
  background-color: white;
  // background-image: url(../images/OWSpectatorMockup.jpg);
}

* {
  padding: 0px;
  margin: 0px;
  color: black;
}

.primary {
  background-color: #ee9b51;
  p {
    color: white;
  }
}

.round-bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.round-top div {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round-left div {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.round-right div {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.center {
  text-align: center;
}

.white {
  background-color: white;
  p {
    color: black;
  }
}

.gutter {
  padding: 10px;
}

.pad {
  margin: 10px;
  padding: 10px;
}

.black {
  background-color: black;
  p {
    color: white;
  }
}

.grey {
  background-color: grey;
  p {
    color: white;
  }
}

.pl {
  margin-left: 10px;
}

.flip {
  transform: rotate(90deg);
}

.box {
  width: 50px;
  height: 100%;
}

.ignore {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

$logo-size: 150px;
.logo {
  height: $logo-size;
  margin: 10px;
}

.pad {
  padding: 20px;
}

.fit {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.teamLogo {
  height: 250px;
}

.applyShadow {
  p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
}

.imgShadow {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.textShadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.grad {
  background: radial-gradient(#ffffff 20%, rgba(0, 0, 0, 0) 50%);
}

.behind {
  border-radius: 10px;
  position: absolute;
}

.glow {
  filter: drop-shadow(0px 0px 10px #ee9b51);
}

.white-oeo {
  background-color: white;
  background-image: url("../images/oeo.svg");
  background-size: 150px;
}

.black-oeo {
  background-color: #111111;
  background-image: url("../images/Darkoeo.svg");
  background-size: 150px;
}
