body {
  background-color: blue;
  // background-image: url(../images/OWSpectatorMockup.jpg);
}

* {
  padding: 0px;
  margin: 0px;
  color: white;
}

.primary {
  background-color: #ee9b51;
  p {
    color: white;
  }
}

.round-bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.round-top div {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round-left div {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.round-right div {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.center {
  text-align: center;
}

.white {
  background-color: white;
  p {
    color: black;
  }
}

.gutter {
  padding: 10px;
}

.pad {
  padding: 10px;
}

.black {
  background-color: black;
  p {
    color: white;
  }
}

.grey {
  background-color: grey;
  p {
    color: white;
  }
}

.pl {
  margin-left: 10px;
}

.flip {
  transform: rotate(90deg);
}

.box {
  width: 50px;
  height: 100%;
}

.ignore {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

$logo-size: 150px;
.logo {
  height: $logo-size;
  margin: 10px;
}
