html {
  color: black;
}

body {
  padding: 15px;
}

.teamContainer {
  text-align: center;
}

.teamGroup {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.teamOptions {
  padding: 25px;
}
